<html>
    <head>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/vue.js"></script>
        <script>
        $(function () {
            var vm = new Vue({
                el:'#vm',
                data: {
                    email:'',
                    name:''
                },
                methods: {
                    register: function () {
                        alert(JSON.stringify(this.$data));
                    }
                }
            });
            window.vm = vm;
        });
        </script>
    </head>

    <body>
       <form id="vm" v-on:submit="register">
           <p>email: <input v-model="email"></p>
           <p>name: <input v-model="name"></p>
           <button type="submit">Submit</button>
       </form>
    </body>
</html>